allow rild radio_data:dir { search write remove_name getattr setattr add_name};
allow rild radio_data:file { getattr read write open setattr unlink create };
allow rild storage_file:dir search;
allow rild dumpstate_exec:file rx_file_perms;
allow rild toolbox_exec:file rx_file_perms;
